[Desktop Entry]
Name=Simple Video Player
Comment=Watch YouTube videos by keyword
Exec=/usr/bin/python3 /home/baloney/yt/simple-video-player.py
Terminal=false
Type=Application
Categories=AudioVideo;Player;
