[Desktop Entry]
Name=Simple Video Player
Comment=Watch YouTube videos by keyword
Exec=ytkiosk
Terminal=false
Type=Application
Categories=AudioVideo;Player;
